# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Binary built by `go build`
mattermost-bagel

# Output of the go coverage tool, specifically when used with LiteIDE
*.out

# Files containing credeentials
envs.sh
env.sh

# Dependency directories (remove the comment below to include it)
# vendor/

# DB Files
*.db
