#!/bin/bash

export BAGEL_MATTERMOST_URL="https://mattermost.url"
export BAGEL_USERNAME="username"
export BAGEL_PASSWORD="password"
export BAGEL_TEAM_NAME="general"
export BAGEL_CHANNEL_NAME="channel"

# Options: "none", "sqlite"
export BAGEL_PERSISTENCE_METHOD="none"
export BAGEL_PERSISTENCE_RETRY_COUNT=0

# sqlite specific
export BAGEL_SQLITE_FILE="./bagel-sqlite.db"
export BAGEL_SQLITE_STALE_BOUNDARY="35 days"
